<div class="row text-centar" >
    <div class="col-md-6 offset-3">
        <hi class="text-info"> You have reached the end of the Internet </hi>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Vinyls" asp-action="Index">Home Page</a>
    </div>
</div>